.normal {
  background: url(https://images.pexels.com/photos/600114/pexels-photo-600114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  transition: all 3s ease;
}

.cold {
  background: url(https://images.pexels.com/photos/1076885/pexels-photo-1076885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  transition: all 1s ease;
}

.sunlight {
  background: url(https://images.pexels.com/photos/965968/pexels-photo-965968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  color: rgb(13, 61, 43);
  filter: brightness(70%);
  transition: all 1s ease;
}

.sunrise {
  background: url(https://images.pexels.com/photos/1001435/pexels-photo-1001435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  transition: all 1s ease;
}

.search_form {
  text-align: center;
}

.search_form form input {
  margin-top: 30px;
  width: 300px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.324);
  color: white;
  font-size: 16px;
}

.search_form form input::placeholder {
  color: white;
}

.search_type {
  margin: 50px 0 20px 0;
}

.search_form form h3 {
  color: rgb(240, 178, 8);
  background-color: rgba(255, 166, 0, 0.91);
  display: inline;
  color: rgb(88, 88, 88);
  padding: 5px;
}

.divider {
  margin-top: 20px;
  flex-grow: 1;
  /* Pushes footer down if needed, or just creates space */
}


/* @media (max-width:992px) {
  .divider{
    margin-top: 500px;
  }
  
} */

.weather-rain {
  background: url(https://images.pexels.com/photos/110874/pexels-photo-110874.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(60%);
  transition: all 1s ease;
}

.weather-clouds {
  background: url(https://images.pexels.com/photos/414659/pexels-photo-414659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(60%);
  transition: all 1s ease;
}

.weather-clear {
  background: url(https://images.pexels.com/photos/965968/pexels-photo-965968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  transition: all 1s ease;
}

.weather-snow {
  background: url(https://images.pexels.com/photos/60561/winter-snow-nature-60561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  transition: all 1s ease;
}

.weather-thunder {
  background: url(https://images.pexels.com/photos/1118869/pexels-photo-1118869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(60%);
  transition: all 1s ease;
}

.weather-mist {
  background: url(https://images.pexels.com/photos/1743398/pexels-photo-1743398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  transition: all 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}